<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>
<body>
    <div>
        <h2>CRUD Operations with Mongoose</h2>
    </div>

    <table class="center">
        <tr>
            
            <td> <a href="/add_user">Add new User</a> </td>
        </tr>
        <tr>
			
            <td><a href="/read_user">Update User</a></td>
        </tr>
        <tr>
            <td><a href="/display">Display All Users</a></td>
        </tr>
        <tr>
            <td><a href="delete_user">Delete a user</a></td>
        </tr>

    </table>

</body>
</html>